@import url(./reset.css);

html,body{
  height: 100%;
}

:root{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  --common-background: #ccc;
}

body{
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-around;
  background-color: var(--common-background);
  padding: 15px;
}
.logo{
    font-family: 'Bebas Neue';
    font-size: 3.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
.form-search{
  display: flex;
  gap: 10px;
  align-items: center;
}
.form-search input{
  width: 250px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 25px;
  padding-left: 15px;
}
.form-search input:focus{
  outline: 1px solid #7d7d7d;
}
.btn-search > img{
  height: 25px;
  width: 25px;
}
.add-logo-up > img{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
main{
  flex: 1 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px auto;
  max-width: 1050px;
}
.card{
  width: 200px;
  height: 250px;
  border-radius: 10px;
  border: 2px #000 solid;
}
.add-big-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-big-card > img{
  width: 100px;
  height: 100px;
}
.pop-up{
  display: none;
}
footer{
  display: flex;
  flex: 0 1;
  justify-content: center;
  background-color: var(--common-background);
  padding: 10px;
}
footer img{
  width: 30px;
  height: 30px;
}
footer a{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}